/*-----------------------------------------------------------------------------------*/
/*  MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* -- NON MOBILE FIRST MEDIA QUERIES BASED ON TWITTER BOOTSTRAP -- */

/* Large display -- 1200px and up  /  70px columns  /  30px gutters */
@media only screen and (min-width: 1200px) {
	.aside .widget.social .social-title{
		margin-right:40px;
	}
	.callout-box{
		min-height: inherit;
	}
}

/* Portrait tablets -- 768px and above  /  42px columns  /  20px gutters */
@media only screen and (max-width: 768px) {
	.callout-box{
		min-height: inherit;
	}
	#top-footer .widget.social .social-title{
		margin-top:-5%;
	}
	.page-for-attorneys .about-section .item-content{
		width:60%;
	}
	.page-for-attorneys .about-section .image, .about-section .image-left{
		width:40%;
	}
	#search_form input{
		width:95%;
	}
	.aside{
		margin-right:0;
		width:100%;
	}
}

/* Phones to tablets -- 767px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 767px) {
	.page-for-attorneys .about-section .item-content, .page-for-attorneys .about-section .image, .about-section .image-left{
		width:100%;
	}
	.hero-header, .hero-text-outer{
		min-height:550px !important;
		height:550px !important;
	}
}

/* Phones -- 480px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 480px) {
	#header-wrapper .logo{
		max-width:250px;
	}
	.wysiwyg-section{
		margin:25px 0 -10%;
	}
	.page-for-attorneys .about-section{
		margin: 25px 0 -25px;
	}
	.gform_wrapper li.hidden_label input{
		margin-top:0 !important;
	}
	.page-for-attorneys .about-section h2 sup{
		top:55%;
	}
	.hero-header, .hero-text-outer{
		min-height:350px !important;
		height:350px !important;
	}
}

/* -- MOBILE FIRST MEDIA QUERIES -- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}