.clearfix:after  {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix  {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.mce-i-ks {
	background: url(../images/icon.png) no-repeat 0 0 transparent !important;
}
.mce-i-ks + span {
	padding-right: 25px;
}


/* GLOBAL
------------------------------------------------------- */
#aa-popup {
	width: 100%;
	font: 12px/19px 'Open Sans', Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	background: #FFF;
}
#aa-popup * {
	font: 12px/19px 'Open Sans', Arial, Helvetica, sans-serif;	
}

/* form side */
#aa-sc-form-wrap {
	width: 100%;
	float: left;
}
#aa-sc-form-wrap #aa-sc-form-head {
	width: 97%;
	color: #fff;
	font-weight: bold;
	background-color: #152b52;
	background-image: url("../images/aa-logo.png");
    background-position: left 25px center;
    background-repeat: no-repeat;
    background-size: 20% auto;
	border-bottom: 3px solid #2d8296;
	padding-right: 28px;
	font-size: 16px;
	line-height: 80px;
	height: 80px;
	text-align:right;
	text-transform: uppercase;
}
/*#aa-popup.no_preview #aa-sc-form-wrap #aa-sc-form-head {
	width: 100%;
}*/
#aa-sc-form-wrap #aa-sc-form {
	width: 100%;
}



/* FORM
------------------------------------------------------- */

#aa-sc-form-table {
	width: 100%;
}
#aa-sc-form-table tbody tr.form-row {
	display: block;
	padding: 5px 20px 20px;
	border-bottom: solid 1px #eaeaea;
}
#aa-sc-form-table tbody:last-child tr.form-row {
	border-bottom: none;
}
#aa-sc-form-table tbody tr.form-row .label {
	width: 100%;
	float: left;
	font-weight: 600;
	text-align: left;
	vertical-align: top;
	line-height: 12px;
	padding: 15px 20px 5px 6px
}
#aa-sc-form-table tbody tr.form-row .field {
	width: 100%;
	float: left;
}
#aa-sc-form-table tbody tr.form-row .aa-insert {
	color: #fff;
}

/* child rows, sortable */
#aa-sc-form-table .has-child #form-child-add {
	height: 30px;
	line-height: 30px;
	margin: 7px 0 3px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	background: #152b52;
	border-radius: 3px;
	border: none;
	text-shadow: none;
	color: #fff;
}
#aa-sc-form-table .has-child .child-clone-rows {
	display: block;
}
.form-row.has-child > td {
	width: 100%;
	float: left;
}
#aa-sc-form-table .has-child .child-clone-rows .child-clone-row {
	background: #F1F2F4;
	margin-bottom: 10px;
	cursor: move;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#aa-sc-form-table .has-child .sortable-placeholder {
	border: dashed 2px #e0e0e0;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f7f7f7;
	height: 40px;
}
#aa-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form {
	display: block;
}
#aa-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form .child-clone-row-form-row {
	display: block;
	padding: 20px 15px;
	border-bottom: solid 1px #ddd;
}
#aa-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form .child-clone-row-form-row .child-clone-row-label label {
	display: block;
	font-weight: bold;
	padding-bottom: 7px;
	line-height: 1;
	padding-left: 5px;
}
#aa-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-remove {
  color: #ED4236;
  display: inline-block;
  padding: 3px 20px 14px;
  font-size: 11px;
  text-rendering: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* form elements */

/* - all */
#aa-sc-form-table tbody tr.form-row .aa-form-text,
#aa-sc-form-table tbody tr.form-row .aa-form-textarea,
#aa-sc-form-table tbody tr.form-row .aa-form-select {
	width: 100%;
	padding: 8px 10px;
	background: #F1F2F4;
	border: none !important;
	box-shadow: none !important;
	color: #565B6A;
	font-weight: 600;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#aa-sc-form-table tbody tr.form-row.has-child .aa-form-text,
#aa-sc-form-table tbody tr.form-row.has-child .aa-form-textarea,
#aa-sc-form-table tbody tr.form-row.has-child .aa-form-select {
	background: #fff;
	width: 100%;
}

/* - textarea */
#aa-sc-form-table tbody tr.form-row .aa-form-textarea {
	height: 120px;
	resize: vertical;
}
#aa-sc-form-table tbody tr.form-row.has-child .aa-form-textarea {
	height: 100px;
	resize: vertical;
}

/* - select */
#aa-sc-form-table tbody tr.form-row .aa-form-select {
	display: block;
	height: 34px;
}
#aa-sc-form-table tbody tr.form-row.has-child .aa-form-select {
	width: auto;
	height: 34px;
}

/* - desc */
#aa-sc-form-table tbody tr.form-row .field .aa-form-desc,
#aa-sc-form-table tbody tr.form-row .child-clone-row-desc {
	display: block;
	font-size:  12px;
	color: #7B7B7B;
	font-style: italic;
	padding: 0 20px 15px 4px;
	margin-top: -3px;
}

/* Hide outline on focus */
#content_button { outline: none; }

.aa-insert {
	background: #2D9CCE !important;
	border: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	padding-top: 5px !important;
	height: 30px !important;
	font-weight: 600 !important;
	margin-top: 11px !important;
}