/*-----------------------------------------------------------------------------------*/
/*  BLOG
/*-----------------------------------------------------------------------------------*/
.content-area .post-meta{
	font-size:1.6rem;
	margin-bottom:25px;
}
.content-area .read-more{
	text-align:right;
	margin:0 0 50px;
	padding-bottom:25px;
}
.content-area .read-more a{
	text-decoration:none;
}
.latest-posts{
	margin-top:90px;
	margin-bottom:90px;
}
.latest-post-img img{
}
.post{
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:thin solid #ccc;
}
.post-title{
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 15px;
}
.post-title a{
	 text-decoration:none;
	 letter-spacing:.025rem;
	 -webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-title a:hover{
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-meta{
	font-size:1.6rem;
	letter-spacing:.01rem;
}
.post-meta a{
	text-decoration:none;
}
.post-meta a:hover{
	text-decoration: underline;
}
.post-date{
	text-transform: capitalize;
}
.post-cat-comments{
	font-size:1.4rem;
	letter-spacing:.01rem;
	margin-top:-2px;
}
.post-cat-comments a:hover{
	text-decoration:none;
}
.intro{
	margin-bottom:75px;
}
.comments-ct{
	font-size:1.4rem;
}
.tags{
	font-size:1.4rem;
}
.tags a{
	text-decoration:none;
}
.post-excerpt p{
	margin-bottom:0;
}
.post-excerpt{
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:thin solid #ccc;
}

/*-----------------------------------------------------------------------------------*/
/*	BLOG SINGLE
/*-----------------------------------------------------------------------------------*/

.post-body {
    margin:0;
}
.blog-posts .post-preview{
	margin-bottom:0;
}
.featured.blog{
	margin-bottom: 15px;
}
blockquote {
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
blockquote p {
    font-style: italic;
	font-size: 2.4rem;
	font-weight:400;
	line-height:1.75;
	padding-left: 20px;
	margin:25px 0;
}
.post-footer {
    text-transform: none;
    margin: 30px 0;
    padding:15px;
	box-sizing:border-box;
    text-align: center;
	border-top:thin solid #ccc;
	border-bottom:thin solid #ccc;
}
#pagination{
	margin-bottom:30px;
}
.nav-older{
	float:left;
}
.nav-newer{
	float:right;
}
@media only screen and (max-width: 490px) {
.nav-older, .nav-newer {
	float:none;
}
.nav-older .button, .nav-newer .button{
	width: 100%;
}
}
.share-text{
	font-size:1.4rem;
	text-transform: uppercase;
}
.share-buttons a{
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.share-buttons div {
    display:inline-block;
    padding-right:20px;
}
.share-buttons i {
	font-size: 1.6rem;
}
.post img, .page img {
    max-width:100%;
    height:auto;
}
img.aligncenter {
    display:block;
    margin:0 auto 20px;
    max-width:100%;
    height:auto;
}
img.alignright {
    display:inline-block;
    padding-left:20px;
    float:right;
    max-width:100%;
    height:auto;
}
img.alignleft {
    display:inline-block;
    padding-right:20px;
    float:left;
    max-width:100%;
    height:auto;
}


/*-----------------------------------------------------------------------------------*/
/*	ABOUT AUTHOR
/*-----------------------------------------------------------------------------------*/

#about_author{
	box-sizing:border-box;
	padding:30px 30px 10px;
	margin:25px 0 10px;
	border: 1px solid #d6c1ae;
}
#about_author img {
    float: left;
    height: auto;
    margin-right:20px;
    width: 350px;
	border: 1px solid #d6c1ae;
}
.author_text h5{
	margin-bottom:1%;
	color:#fff;
	text-transform: uppercase;
}
.author_text a{
	text-decoration:none;
	color:#fff;
}
.author_text a:hover{
	color:#fff;
}
.author_text p, .author_text h1{
	color:#fff;
}
.author_text i{
	font-size:2.5rem;
	margin-right:1%;
}

/*-----------------------------------------------------------------------------------*/
/*	SIDEBAR & WIDGETS
/*-----------------------------------------------------------------------------------*/

.widget{
	margin-bottom:30px;
	border-bottom:thin solid #ccc;
}
.widget ul{
	list-style:none;
}
.widget:last-child{
	border-bottom:none;
}
.aside .widget.social{
	padding-bottom:20px;
}
.aside .widget.social .social-title{  
	display:block;
}
.aside .widget.social a{
	font-size:1.8rem;
	margin-right:3%;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.aside .widget.social a:hover{

}
.aside .widget.rich_text a span{
	
}
.aside .widget.rich_text{
	padding-bottom:25px;
}
#search_form { 
	position: relative; 
}
#search_form input { 
	text-indent: 0;
	text-transform:none;
	letter-spacing: .05rem;
	width:90%;
	height:35px;
	font-style:italic;
	font-size:1.4rem;
	margin-bottom:10px;
	text-indent: 6px;
}
.aside .widget.widget_search{
	padding-bottom:15px;
}
#search_form .button { 
	position: absolute;
  	top: 0;
  	right: 0;
	color: #fff;
	height:35px;
	padding:0 10px;
    font-size: 1.8rem;
	line-height: 1.8rem;
}
#sidebar h3, .aside .widget.social .social-title {
    letter-spacing: .05rem;
	font-size:1.8rem;
    text-transform: uppercase;
    text-align: left;
}
.widget-subtitle{
	color:#ccc;
	font-style:italic;
	margin-top:-20px;
	margin-bottom:20px;
}
.widget.posts ul.posts-list {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding-bottom: 20px;
}
.widget.posts ul.posts-list li {
    display: flex;
    padding: 0 50px 5px 0;
}
.postthumb {
    float: left;
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.postthumb img{
	height:100%;
}
.widget.posts ul.posts-list li .meta {
    margin-left: 23px;
}
.widget.posts ul.posts-list li a {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: none;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.widget.posts ul.posts-list li a:hover{
	text-decoration:none;
}
.widget .side-bar-form{
	box-sizing: border-box;
	padding:25px;
	margin-bottom:8%;
}
.widget .side-bar-form h2.form-title{
	color:#fff;
	text-align: center;
	font-size:3.0rem;
	margin-bottom:2%;
}
.widget .side-bar-form .form-text{
	color:#fff;
	text-align: center;
}
.widget .side-bar-form input[type="text"], .widget .side-bar-form input[type="email"], .widget .side-bar-form input[type="submit"], .widget .side-bar-form #mc_embed_signup .clear, .widget .side-bar-form #mc_embed_signup .mc-field-group, .widget .side-bar-form button{
	width:100%;
	min-width:100% !important; 
	display:block;
}
.widget .side-bar-form #mc_embed_signup input[type="submit"]:hover, .widget .side-bar-form button{
	color:#fff !important;
	border-color:#fff;
}
.aside .widget.social .social-title{
	display:inline;
	margin-right:10px;
}
/*-----------------------------------------------------------------------------------*/
/*	RELATED POSTS
/*-----------------------------------------------------------------------------------*/
#related_posts{
	border-bottom:thin solid #ccc;
	margin-bottom:30px;
}
#related_posts h5{
	font-size:1.8rem;
	text-transform: uppercase;
}
#related_posts ul{
	list-style:none;
	margin-bottom: 3%;
}
#related_posts ul li{
	display:inline-block;
	padding:0;
	margin-right:1.5%;
	max-width: 31.9%;
	vertical-align:top;
}
#related_posts ul li:last-child{
	margin-right:0;
}
.relatedcontent h3{
	text-transform:none;
	font-size:1.6rem !important;
	text-align:center;
	 
	margin-bottom:0;
}
.relatedcontent h3 a{
	color:#000;
}
.relatedcontent h3 a:hover{
	text-decoration:none;
}
@media only screen and (max-width: 480px) {
	#related_posts ul li {
    display: block;
    margin: 25px 0;
    max-width: 100%;	
}
	#related_posts ul li img{
		width:100%;
	}
}

/*-----------------------------------------------------------------------------------*/
/*	COMMENTS
/*-----------------------------------------------------------------------------------*/

#comments {
    clear: both;
	padding-top:30px;
}

#comments h5 {
    margin:0 0 20px;
    letter-spacing: .05rem;
    line-height:1.4em;
	font-size:2.0rem;
    text-transform: uppercase;
    text-align: left;
}
.user{
	float: left;
    width: 77px;
    height: 77px;
	margin-right: 0;
}
.user img{
	
}
#comments .message {
    overflow: hidden;
    padding: 0 0 0 20px;
    position: relative;
}
#comments .message .reply-link {
    position: absolute;
    right: 0;
    top: 20px;
    line-height: 1;
    font-size: 1.4rem;
    text-transform: uppercase;
}
#comments .message  .info {
    margin-bottom: 12px;
}
.comment-author{
	font-size:1.6rem;
	letter-spacing:.01rem;
}
.comment-time{
	letter-spacing:.01rem;
	font-size:1.4rem;
	text-transform:none;
}
.comment-time a{

}
.comment-time a:hover{
	
}
ul#comment-block {
    margin:0;
    padding-bottom:10px;
}
ul#comment-block li{
	margin: 15px 0;
}
ul#comment-block li.comment {
    padding: 0;
	margin-bottom:0;
    list-style: none;
    overflow: hidden;
	border-bottom: 1px solid #ccc;
}
ul#comment-block li.comment:last-child{
	border-bottom:none;
}

ul#comment-block li.comment ul.children {
    margin: 0 0 15px 13%;
}
ul#comment-block li.comment ul.children li.comment {
    border-bottom: none;
    padding-top: 15px;
	border-top: 1px solid #ccc;
}


/*-----------------------------------------------------------------------------------*/
/*	COMMENT FORM
/*-----------------------------------------------------------------------------------*/
#respond {
    padding: 30px 0 0;
    clear: both;
    overflow: hidden;
}
#respond .comments-headers{
	margin-bottom:1%;
}
#respond input,#respond textarea{
	font-style:italic;
}
#respond textarea{
	min-height:280px;
}
#respond input[type="submit"]{
	float:right;
}
p.comment-notes{
	font-style: italic;
	margin-bottom: 1%;
}