/*-----------------------------------------------------------------------------------*/
/*  HEADER
/*-----------------------------------------------------------------------------------*/
#header-wrapper {
	background-color: #fff;
  	box-shadow: 0px 1px 5px 0px rgba(119, 119, 119, 0.21);
  	width: 100%;
	margin-bottom: 60px;
	box-sizing: border-box;
	padding:20px;
	z-index: 3;
	position: relative;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header {	
}
#header-wrapper .logo {
	height: auto;
    max-width: 275px;
	float:left;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header-wrapper.smaller{
	padding:15px;
	position:fixed;
	top:0;
	background-color: #fff;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header-wrapper.smaller .logo{
	max-width: 225px;
	filter: brightness(1) invert(0);
}
#header-wrapper.smaller #linkbar{
	top: 5px;
}
.hero-header:after{
	content:'';
	display:block;
	background-image: url(_static/images/gold.png);
	background-repeat:repeat-x;
	height:6px;
	width:100%;
}
.header-optin .optin-section #mc_embed_signup button{
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    height: 90px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
	line-height: 1.25;
    width: 90px;
	padding:0;
    white-space: normal;
	margin-left: 5%;
}
.header-optin{
	position: absolute;
	bottom:0;
	width:100%;
}
.header-optin .optin-section{ 
	padding: 20px 0 0;
}
.page-home .gold-bar{
    content: '';
    display: block;
    background-image: url(_static/images/gold.png);
    background-repeat: repeat-x;
    height: 6px;
    width: 100%;
}
.hero-header, .slider-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.hero-header, #hero-slider, .hero-header-vid{
	margin:0 auto -86px;
	z-index: 0;
	position:relative;
	top:-86px;
}
.hero-text-outer, .slider-text-outer{
	position:relative;
}
.hero-text, .slider-text{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:100%;
}
.hero-text p, .slider-text p{
	line-height: normal;
}
.hero-text h1, .slider-text h1{font-size:6.0rem;margin-bottom:0;}
.hero-text h2, .slider-text h2{font-size:5.6rem;margin-bottom:0;}
.hero-text h3, .slider-text h3{font-size:5.0rem;margin-bottom:0;}
.hero-text h4, .slider-text h4{font-size:4.4rem;margin-bottom:0;}
.hero-text h5, .slider-text h5{font-size:3.8rem;margin-bottom:0;}
.hero-text h6, .slider-text h6{font-size:3.5rem;margin-bottom:0;}
.hero-text p, .slider-text p{font-size:3.0rem;}

@media only screen and (max-width: 480px) {
	.hero-text-outer, .slider-text-outer{
		max-width:100% !important;
		margin-left: 0 !important;
	}
	.hero-text h1, .slider-text h1{font-size:5.0rem;margin-bottom:0;}
	.hero-text h2, .slider-text h2{font-size:4.6rem;margin-bottom:0;}
	.hero-text h3, .slider-text h3{font-size:4.0rem;margin-bottom:0;}
	.hero-text h4, .slider-text h4{font-size:3.4rem;margin-bottom:0;}
	.hero-text h5, .slider-text h5{font-size:2.8rem;margin-bottom:0;}
	.hero-text h6, .slider-text h6{font-size:2.5rem;margin-bottom:0;}
	.hero-text p, .slider-text p{font-size:2.0rem;}
	
}

.page-content{
	margin-top:50px;
}

/*-----------------------------------------------------------------------------------*/
/*  NAVIGATION
/*-----------------------------------------------------------------------------------*/
#linkbar {
	position: absolute;
    left: 0;
    right: 0;
    top: 20%;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#linkbar ul {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}
#linkbar li {
	display: inline;
    margin: 0px;
    padding: 0 10px;
    position: relative;
}
@media only screen and (min-width: 1200px) {
	#linkbar li{
		padding: 0 20px;
	}
}
#linkbar li ul {
	display:none;
	top:100%;
	left:0;
	white-space: nowrap;
	position:absolute;
	padding:10px;
	z-index:1;
}
#linkbar li:hover ul {
	display:block;
}
#linkbar li ul li {
	display:block;
	margin:20px 0;
}
#linkbar a {
	padding: 0;
	text-decoration:none;
	font-size:1.4rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .15em;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#linkbar a:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nav-menu {
    float: right;
    text-align: center;
}
.menu-item-has-children > a:after {
	font-family: 'FontAwesome';
    content: "\f0dd";
	font-size: 1.6rem;
	padding-left:5px;
	position:absolute;
	top:-5px;
}
.menu-social-links {
    position: absolute;
    right: 20px;
    top: 0;
}
.menu-social-links i{
	font-size:1.6rem;
	margin-left:20px;
}
@media only screen and (max-width: 925px) {
	.menu-social-links{
		display:none;
	}
	#linkbar{
		right:0;
		left:inherit;
	}
}
/* -------------------------------- 
			Mobile Nav 
-------------------------------- */
#slideout-menu {
  	position:fixed;
  	padding:100px 50px;
  	min-width:250px;
  	top:0;
  	right:-350px;
  	min-height:100vh;
  	z-index:10000;
	max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
#slideout-menu #nav-close {
  	position: absolute;
  	top: 3.5%;
  	right: 30px;
  	height:20px;
  	width:20px;
}
.close-lines1 {
  	width:20px;
  	background-color:white;
  	height:2px;
  	transition:300ms ease all;
  	-webkit-transition-delay: 400ms; /* Safari */
  	transition-delay: 400ms;
  	position:relative;
  	top:8px;
  	-ms-transform: rotate(-180deg); /* IE 9 */
  	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  	transform: rotate(-180deg);
}
.close-lines2 {
  	display:block;
  	width:20px;
  	background-color:white;
  	height:2px;
  	transition:300ms ease all;
  	-webkit-transition-delay: 400ms; /* Safari */
  	transition-delay: 400ms;
  	position:relative;
  	top:6px;
}
#slideout-menu.open .close-lines1 {
  	-ms-transform: rotate(45deg); /* IE 9 */
  	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  	transform: rotate(45deg);
}
#slideout-menu.open .close-lines2 {
  	-ms-transform: rotate(-45deg); /* IE 9 */
  	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  	transform: rotate(-45deg);
}
a#slideout-trigger {
  	position:absolute;
  	width:20px;
  	height:20px;
  	right:20px;
  	top:5px;
	display: none;
}
#slideout-bar {
  	width:20px;
  	height:2px;
  	top:6px;
  	position:relative;
}
#slideout-bar:before {
  	content:"";
  	display:block;
 	width:20px;
  	height:2px;
  	position:relative;
  	bottom:5px;
}
#slideout-bar:after {
  	content:"";
  	display:block;
  	width:20px;
  	height:2px;
  	position:relative;
  	top:3px;
}
#slideout-menu .menu-item-has-children > a:after{
	position:relative;
}
#slideout-menu a {
  	color:#fff;
  	font-weight:400;
  	letter-spacing:.15em;
  	font-size:1.4rem;
  	text-transform: uppercase;
}
#slideout-menu a:hover{
	text-decoration: none;
}
#slideout-menu ul {
  	text-align:right;
	list-style: none;
}
#slideout-menu li {
  	margin-bottom:1em;
}
#slideout-menu ul.sub-menu{
	display:none;
	margin:2em 0;
}

#slideout-menu .widget{
	border-bottom: 0;
	text-align: right;
}
#slideout-menu .social-links i{
	font-size:1.6rem;
	margin-left: 20px;
}
@media only screen and (max-width: 768px) {
	a#slideout-trigger {
		display:block;
	}
	#linkbar nav, .menu-social-links{
		display:none;
	}
}
/*-----------------------------------------------------------------------------------*/
/*  FOOTER
/*-----------------------------------------------------------------------------------*/
footer{
	padding: 0 0 20px;
	margin-top:25px;
}
footer:before{
	content:'';
	display:block;
	background-image: url(_static/images/gold.png);
	background-repeat:repeat-x;
	height:6px;
	width:100%;
}
#top-footer{
	box-sizing: border-box;
	padding:45px 0 25px;
}
#top-footer p, #top-footer h3{
	color:#fff;
	line-height:1.5;
}
#top-footer h3{
	letter-spacing: .05rem;
	font-size:1.8rem;
    text-transform: uppercase;
    text-align: left;
}
#top-footer a{
	color:#fff;
}
#top-footer a:hover{
	color:#fff !important;
}
#top-footer .widget{
	margin-bottom:0;
	padding-bottom:0;
}
#top-footer .widget.posts ul.posts-list li{
	padding:0 0 5px 0;
}
#top-footer a.button{
	padding: 0 30px;
	font-size: 1.4rem;	
	font-weight: 400;
	line-height: 35px;
	background-color: transparent;
	border: 1px solid #fff !important;
	border-radius: 0;
}
#top-footer .widget.social .social-title{
	display:block;
	text-align: center;
	font-size:2.5rem;
	margin-top:5%;
}
#top-footer .widget.social .social-links{
	text-align: center;
}
#top-footer .widget.social .social-links a{
	font-size:3rem;
}
#top-footer .widget.social .social-links a:hover{
	text-decoration: none;
	color:#fff !important;
}
#credits {
	padding-top:20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size:1.2rem;
	color:#fff;
}
#credits a{
	color:#fff;
}
#credits a:hover{
	text-decoration: none;
}
#credits .widget{
	margin-bottom:20px;
}
#credits .social-links a{
	font-size:1.6rem;
}
#credits .social-links a:hover{
	text-decoration:none;
}
#credits .social-links i{
	width: 32px;
}
#credits .footer-left {
	width:50%;
	text-align:left;
}
#credits .footer-right {
	width:50%;
	text-align:right;
}
@media only screen and (max-width: 768px) {
	#credits .footer-left.u-pull-left, #credits .footer-right.u-pull-right{
		text-align: center;
		float:none;
		width:100%;
	}
	#top-footer .columns{
		clear:both;
	}
	#top-footer .widget.posts{
		margin-top:50px;
	}
}
@media only screen and (max-width: 480px) {
	#top-footer .widget.posts{
		margin-top:0;
	}
}