/* Add theme page styles here */
/*-----------------------------------------------------------------------------------*/
/*  SHORTCODES
/*-----------------------------------------------------------------------------------*/

/* Alerts */
.download-box, .warning-box, .info-box, .note-box {
  clear:both;
  margin: 10px 0px;
  padding: 15px 15px 13px 15px;
  line-height: 17px;
}
.info-box {
  background:#c2ddf9;
  border:1px solid #80bbef;
  color:#4783b7;
}
.info-box:before{
	font-family: 'FontAwesome';
	content: "\f05a";
	font-size:1.25em;
	padding-right:5px;
}
.warning-box {
  background:#ffcccc;
  border:1px solid #ff9999;
  color:#c31b00;
}
.warning-box:before{
	font-family: 'FontAwesome';
	content: "\f071";
	font-size:1.25em;
	padding-right:5px;
}
.download-box {
  background:#d1f7b6;
  border:1px solid #8bca61;
  color:#5e9537;
}
.download-box:before{
	font-family: 'FontAwesome';
	content: "\f0ed";
	font-size:1.25em;
	padding-right:5px;
}
.note-box {
  background:#fdebae;
  border:1px solid #e6c555;
  color:#9e660d;
}
.note-box:before{
	font-family: 'FontAwesome';
	content: "\f249";
	font-size:1.25em;
	padding-right:5px;
}

.alert-close:after {
	font-family: 'FontAwesome';
	content: "\f00d";
	color:#FFF;
	float: right;
	top: -30px;
	right:-10px;
	cursor: pointer;
	position: relative;
}
	
/* Tabs */
.etabs { 
  margin: 0; 
  padding: 0; 
  text-align: center;
  overflow: inherit;
}
.etabs.left { 
  text-align: left;
}
.etabs.left .tab {
  margin-right:3px;
}
.tab { 
  font-weight: 700;
  margin:0; 
  padding:0; 
  display: inline-block; 
  zoom:1; 
  background: #f5f5f5; 
  border: 1px solid #eee; 
  border-bottom: none; 
  top:1px;
  position: relative;
  z-index: 1;
}
.tab a { 
  display: block; 
  padding: 7px 12px; 
  text-decoration:none;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.tab.active { 
  background: #fff; 
  position: relative; 
  z-index: 2;
}
.tab-container .panel-container { 
  border-top: 1px solid #eee; 
  padding: 30px 0; 
  position: relative;
  z-index: 1;
}
.panel-container { 
  margin-bottom: 10px; 
}

/* Toggles */
.toggle {
  width: 100%;
  clear:both;
}
.toggle-title {
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #eee;
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: 700;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.toggle-title:before{
	font-family: 'FontAwesome';
    content: '\f055';
    font-size: 1.6rem;
	margin-right:20px;
}
.togglebox {
  height: auto;
  overflow: hidden;
  margin: 0;
}
.togglebox div {
  padding: 15px;
}

/* Accordions */
.accordion > section {
   padding-left: 20px;
   position: relative;
   border-top: 1px solid #eee;
   margin-top: 10px;
   padding-top: 12px;
   float: left;
   width: 98%;
}
.accordion > section:first-child {
   border-top: none;
   margin-top: 0;
   padding-top: 0;
}
.accordion > section .accordion-title {
   line-height: 2;
   font-style: normal;
   cursor: pointer;
   margin-left:20px;
   font-weight:700;
	
}
.accordion > section .accordion-title:hover {
   -webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.accordion > section .accordion-content {
   display: none;
   padding: 12px 0 5px;
}
.accordion > section .accordion-content p:first-child {
  margin-top: 0;
}
.accordion > section .accordion-content p:last-child {
  margin-bottom: 0;
}
.accordion > section .accordion-title:before {
  font-family: 'FontAwesome';
   content: '\f055';
  display: inline-block;
  position: absolute;
  top: auto;
  left: 5px;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.accordion > section.opened .accordion-title:before {
  font-family: 'FontAwesome';
  content: "\f056";
}
.accordion{
  margin-bottom:20px;
}

/* Google Map */
.vsg-map{
	clear:both;
	padding-top:30px;
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
	margin-bottom: 25px;
    height: 0;
	clear:both;
}
 
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
video {  
   width:100%;  
   height:auto; 
}
/* Social Icons */
ul.social-icons {
  padding-top: 25px;
  clear:both;
}
.social-icons li:first-child{
	margin-left: 0;
}
.social-icons li {
  float: left;
  padding: 0;
  background: none;
  list-style:none;
}
.social-icons a {
  font-family: 'FontAwesome';
  font-size:1em;	
  display:block;
  position:relative;
  color:#152b52;
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.social-icons a:hover {
  color: #2d8296;
}

/* Latest Blog */
.latest-blog-wrapper ul{
	list-style: none;
	clear:both;
	padding-top:25px;
}
.latest-blog-wrapper li{
	float:left;
	margin-right:1.6%;
}
li.latest-blog-4{
	width: 23.8%;
}
li.latest-blog-3{
	width: 32.26%;
}
li.latest-blog-2{
	width: 49.2%;
}
li.latest-blog-1{
	width: 100%;
	float: none;
	margin-right: 0;
}
li.latest-blog-1 .latest-post-img{
	float:left;
	margin-right: 25px;
}
.latest-blog-wrapper li:last-child{
	margin-right:0;
}
@media only screen and (max-width: 768px) {
	li.latest-blog-3, li.latest-blog-4{
		width:49.2%;
		margin-bottom:25px;
		min-height: 450px;
	}
	.latest-blog-wrapper li:nth-of-type(2n+0){
		margin-right:0;
	}
}
@media only screen and (max-width: 480px) {
	li.latest-blog-3, li.latest-blog-4{
		width:100%;
		margin-bottom:25px;
		min-height: inherit;
	}
}
.latest-blog-wrapper h6{
	text-transform:uppercase;
	font-weight:700;
	font-size: 1.6rem;
	margin-top:15px;
}
.latest-blog-wrapper h6 a{
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.latest-blog-wrapper h6 a:hover{
	text-decoration: none;
}

/* Latest Products */
.recent-products .woocommerce ul.products li.product{
	border:none;
}
.recent-products .woocommerce ul.products {
	display:flex;
}
.recent-products .woocommerce ul.products li.product {
	flex-grow: 1;
}
@media only screen and (max-width: 768px) {
	.recent-products .woocommerce ul.products {
	display:block;
	}
}
@media only screen and (max-width: 480px) {
	
}

/* Opt-In */
.optin-form-solo input[type="submit"]{
	
}

/*-----------------------------------------------------------------------------------*/
/*  PORTFOLIO
/*-----------------------------------------------------------------------------------*/
ul.filter{
	text-align: center;
}
ul.filter li{
	display: inline;
	padding:0 7px;
	text-transform: uppercase;
	font-size:1.4rem;
}
ul.filter li a:hover{
	text-decoration: none;
}
ul.items {
	list-style: none;
}
ul.items li{
	width: 32.26%;
}
ul.items .gutter-sizer { 
	width: 1.6%;
}
@media only screen and (min-width: 480px) and (max-width: 1023px) {
ul.items li {
     width: 49.2%;
}
ul.items li img{
	width:100%;
}
}
@media only screen and (max-width: 479px) {
ul.items li {
    width: 100%;
}
ul.items li img{
	width:100%;
}
}
ul.items li img {
  display: block;
  height:auto;
}
ul.items li a .caption h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
	margin-bottom: 15px;
}
ul.items li a .caption {
  display: none;
  height: 100%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  padding: 25% 20px 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
ul.items li a .short-desc{
	color:#fff;
}
ul.items li a .icon{
	color:#fff;
	font-size:2.4rem;
}
ul.items li a .icon.audio:after{
	font-family: 'FontAwesome';
  	content: "\f001";
	display: block;
	font-weight: 400;
}
ul.items li a .icon.video:after{
	font-family: 'FontAwesome';
  	content: "\f008";
	display: block;
	font-weight: 400;
}
ul.items li a .icon.images:after{
	font-family: 'FontAwesome';
  	content: "\f03e";
	display: block;
	font-weight: 400;
}
.project-desc h2{
	font-weight:700;
}
.project-desc h5, .project-related h5{
	text-transform: uppercase;
	font-size:1.8rem;
	font-weight:700;
	margin-bottom:15px;
}
.project-divider{
	width:200px;
	margin:35px 0 40px;
	height:1px;
	background-color: #ccc;
}
.project-details h6{
	text-transform: uppercase;
	font-size:1.6rem;
	font-weight:700;
	margin-bottom:15px;
}
.project-details{
	font-size:1.4rem;
	line-height:1.75;
	font-weight:400;
}
.portfolio-nav{
	margin-bottom: 100px;
    clear: both;
    position: relative;
    top: 50px;
}
.grid-item,
.grid-sizer {
  	width: 49%;
}
@media only screen and (max-width: 490px) {
.grid-item,.grid-sizer {
  	width: 100%;
}
}
.grid-item {
  	float: left;
  	height: auto;
	margin-bottom: 0;
}
section.tinted{
	background-color:#f5f5f5;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	
}
/*-----------------------------------------------------------------------------------*/
/*  CALLOUT BOXES
/*-----------------------------------------------------------------------------------*/
.callout-box-content{
	margin:50px 0;
}
.callout-box{
	color:#fff;
	box-sizing: border-box;
	padding:30px 25px 30px;
	line-height: 1.5;
	min-height: 360px;
}
.callout-box h1,.callout-box h2,.callout-box h3,.callout-box h4,.callout-box h5,.callout-box h6, .callout-box a{
	color:#fff;
}
.callout-box-container .one-third:nth-of-type(3n+0){
	margin-right:0;
}
.callout-box .button{
	margin:15px 0 0;
	border:1px solid #fff;
	text-transform: uppercase;
	font-size:1.6rem;
}
.callout-box .button:hover{
	color:#fff;
}
.callout-box i{
	text-align:center;
	display:block;
	font-size:4rem;
}
/*-----------------------------------------------------------------------------------*/
/*  ABOUT SECTION
/*-----------------------------------------------------------------------------------*/
.about-section{
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	margin:50px 0;
}
.about-section .image{
	width: 50%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	position: absolute;
}
.about-section .item-content{
	width: 50%;
	float: right;
	min-height: 38vw;
	/*background-color: #f5f5f5;*/
	border-top: 1px solid #d6c1ae;
    border-bottom: 1px solid #d6c1ae;
	padding:60px 60px 20px;
	box-sizing: border-box;
}
.about-section .item-content.txt-right{
	float: left !important;
}
.about-section .image-left{
	width: 50%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	position: absolute;
}
@media only screen and (max-width: 767px) {
	.about-section .image, .about-section .image-left{
		padding-top: 78vw;
    	position: relative;
    	width: 100%;
		left: 0px;
	}
	.about-section .item-content, .about-section .item-content.txt-right{
		float: none !important;
    	padding: 30px 20px;
    	width: 100%;
	}
}
.about-section .item-content .button {
    margin-top: 25px;
}

/*-----------------------------------------------------------------------------------*/
/*  TEAM SECTION
/*-----------------------------------------------------------------------------------*/
.team-section{
	margin:50px 0;
}
.team-container{
	list-style: none;
	padding:0;
	margin:0;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}
.team-container.wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.team-member{
	padding:0 .5%;
	width:275px;
}
.team-member img{
	width:100%;
}
@media only screen and (max-width: 768px) {
	.team-member{
	width: 48.5%;
	padding:0 .7%;
	margin-bottom:25px;
	}
}
@media only screen and (max-width: 480px) {
	.team-member{
	width: 100%;
	padding:0;
	margin-bottom:25px;
	}
}
.team-member a:hover{
	text-decoration: none
}
.team-member a:hover img{
	opacity:.8;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.team-name, .team-title{
	display:block;
	text-align: center;
	line-height: 1.5;
}
.team-title{
	font-style: italic;
}
.team-section .button{
	margin-top:40px;
}
/* POPUP */
.white_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:1;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}
#bio-pop .inner {
  padding: 30px 50px;
  max-width: calc(100% - 100px);
  position:relative;
}
#bio-pop .inner img{
	float:left;
	margin:10px 20px 0 0;
	max-width:225px;
}
#bio-pop .bio-title{
	font-style:italic;
	font-size:1.8rem;
}
#bio-pop h2{
	margin-bottom:0;
}
#bio-pop p {
  margin-top:.5em;
  margin-bottom:1em;
}
#bio-pop a{
    text-decoration: none;
}
@media screen and (max-width:767px) {
  #bio-pop {
    max-height:90vh;
    max-width:80%;
    overflow-y:scroll;
  }
  #bio-pop .inner {
    padding: 20px;
    max-width: calc(100% - 40px);
  }
}

/*-----------------------------------------------------------------------------------*/
/*  LATEST BLOG SECTION
/*-----------------------------------------------------------------------------------*/
.latest-posts-section{
	margin:50px 0;
	padding:50px 0;
}
.latest-posts-section .more-btn{
	margin-top:25px;
}

/*-----------------------------------------------------------------------------------*/
/*  RECENT PROJECTS SECTION
/*-----------------------------------------------------------------------------------*/
.latest-projects-section .button{
	margin:50px 0;
}

/*-----------------------------------------------------------------------------------*/
/*  OPT IN SECTION
/*-----------------------------------------------------------------------------------*/
.optin-section{
	color:#fff;
	box-sizing: border-box;
	padding:40px 0 25px;
}
.optin-section h1,.optin-section h2,.optin-section h3,.optin-section h4,.optin-section h5,.optin-section h6,.optin-section a{
	color:#fff;
}
#mc_embed_signup { border: none; text-align: center; width: 100%; margin-top:0;}
#mc_embed_signup .mc-field-group { display: inline-block; }
#mc_embed_signup .clear { display: inline-block; }
#mc_embed_signup input{font-size:1.4rem;}
#mc_embed_signup input[type="submit"]{border-color:#fff;color:#fff;vertical-align: middle;}
#mc_embed_signup input[type="text"],#mc_embed_signup input[type="email"]{min-width:278px;border-color:#fff;}

@media only screen and (max-width: 480px) {
	#mc_embed_signup .mc-field-group, #mc_embed_signup .clear{
		display: block;
    min-width: 100% !important;
    width: 100%;
	}
	#mc_embed_signup input{
		width:100%;
	}
}
.optin-section #mc_embed_signup input[type="submit"]:hover{
	color:#fff;
}
/*-----------------------------------------------------------------------------------*/
/*  INSTAGRAM SECTION
/*-----------------------------------------------------------------------------------*/
.instagram-section{
	box-sizing: border-box;
	padding:50px 0 0;
}
.ig-handle{
	float:right;
	margin:-20px 10px 0;
}
.ig-handle a{
	font-style: italic;
	font-size: 1.4rem;
}
.ig-handle a:hover{
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/
/*  LOGO SECTION
/*-----------------------------------------------------------------------------------*/
.logo-section{
	box-sizing: border-box;
	padding:50px 0 0;
}
.logo-section ul{
	list-style: none;
	text-align: center;
}
.logo-section li{
	width: 16.66666667%;
	display: inline-block;
	padding-left: 10px;
    padding-right: 10px;
	box-sizing: border-box;
	text-align: center;
	opacity:.8;
	transition: all .2s ease-in-out;
}
.logo-section li:hover{
    transform: scale(1.1);;
	opacity:1;
}
.logo-section li:hover img{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.logo-section li img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	max-width:150px;
	max-height:75px;
}
@media only screen and (max-width: 768px) {
	.logo-section li{
		width: 32.26%;
	}
}
@media only screen and (max-width: 480px) {
	.logo-section li{
		width: 100%;
	}
}

/*-----------------------------------------------------------------------------------*/
/*  WYSIWYG SECTION
/*-----------------------------------------------------------------------------------*/
.wysiwyg-section{
	box-sizing: border-box;
	padding:25px 0;
	margin:50px 0;
}

/*-----------------------------------------------------------------------------------*/
/*  TESTIMONIALS SECTION
/*-----------------------------------------------------------------------------------*/
.testimonials-section{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding:100px 0 75px;
	margin:25px 0;
}
.testimonials-container{
	width: 83.06%;
	margin:0 auto;
}
.author-image-meta {
	float:left;
	display:block;
	text-align: center;
	min-width:178px;
}
@media only screen and (max-width: 480px) {
	.author-image-meta {
	float:none;
	}
	.testimonials-section{
		padding:50px 0 25px;
	}
	#slideout-menu{
		min-width: 150px;
	}
}
.author-image-meta img{
	margin:0 auto 10px;
	border-radius:50%;
	border:solid 4px #fff;
}
.author-image-meta .auth-name{
	font-size:1.4rem;
	color:#fff;
	display:block;
	margin-bottom: -5px;
}
.author-image-meta .auth-title{
	font-size:1.2rem;
	font-style: italic;
	display:block;
	color:#fff;
	line-height: normal;
}
.author-quote-text{
	color:#fff;
	font-size:2.0rem;
	font-weight:400;
	line-height: 1.5;
}
@media only screen and (max-width: 768px) {
	.author-quote-text{
	margin-top:0;
	}
}

/*-----------------------------------------------------------------------------------*/
/*  CREDITS POPUP
/*-----------------------------------------------------------------------------------*/
.white_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:0;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
#credits-pop {
  background-color:#fff;
  border:#ccc thin solid;
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:770px;
  max-width:95%;
  z-index:-1;
  opacity:0;
  transition:200ms ease opacity;
}
#credits-pop.open {
  z-index:100;
  opacity:1;
}
#credits-pop .inner {
  padding: 30px 50px;
  max-width: calc(100% - 100px);
  position:relative;
}
#credits-close {
  position:absolute;
  top:20px;
  right:20px;
  height:15px;
  width:15px;
  text-decoration:none;
}
#credits-close:before{
	content: "\f00d";
	font-family: 'FontAwesome';
    font-size: 2rem;
}
#credits-pop p {
  margin-bottom:1em;
}
#credits-pop p:last-of-type {
  margin-bottom:0px;
}
#credits-pop a{
    text-decoration: none;
}

@media screen and (max-width:767px) {
  #credits-pop {
    max-height:90vh;
    max-width:80%;
    overflow-y:scroll;
  }
  #credits-pop .inner {
    padding: 20px;
    max-width: calc(100% - 40px);
  }
}

/*-----------------------------------------------------------------------------------*/
/*  MISC.
/*-----------------------------------------------------------------------------------*/
.wp-caption-text{
	font-size:1.2rem;
	text-align: center;
	font-style: italic;
}
.page-for-attorneys .about-section{
	margin:0;
}
.page-for-attorneys .about-section h2{
	position:relative;
}
.page-for-attorneys .about-section h2 sup{
	font-size:1.2rem;
	margin:2% 0 0 0;
	position: absolute;
}
.page-for-attorneys .about-section p{
	font-size:2.2rem;
}
.blog-intro{
	box-sizing: border-box;
	padding:50px 0;
	font-size:3.0rem;
	color:#fff;
}
.page-home .hero-header, .page-home .slider-header{
	background-position: center center;
}
.about-middle{
	box-sizing: border-box;
	padding:10px 0 25px;
	margin-top:25px;
}